@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&display=swap');

:root {
  --white-30: #eff0f2;
  --primary-20: #fff4d6;
  --primary-30: #ffeeee;
  --primary-100: #ff5959;
  --dark-60: #b3b3b3;
  --dark-70: #949494;
  --dark-80: #707070;
  --dark-90: #121212;
  --dark-100: #0a0d17;
  --cyan-30: #d4e3e4;
  --cyan-20: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
/* common */

.btn {
  padding: 16px 12px;
}
.btn__primary {
  background-color: var(--primary-100);
  color: var(--white-30);
  font-size: 20px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.section-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: var(--dark-90);
  text-align: center;
}

.section-description {
  font-size: 18px;
  line-height: 28px;
  color: var(--dark-80);
  text-align: center;
  margin: 4rem auto;
  width: 60%;
}

/* banner section */

.banner {
  background-image: url("./images/Rectangle\ 237.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 8rem 20%;
  position: relative;
  text-align: center;
  z-index: -1;
  color: #ffffff;
}
.banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  left: 0;
  top: 0;
  z-index: -1;
}

.banner-title {
  font-size: 4rem;
}

.banner-description {
  font-size: 18px;
  margin: 2rem auto;
  width: 70%;
}
/* today-amount-container */
.section {
  width: 80%;
  margin: 6rem auto;
}

.today-amount-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.today-amount {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  border-radius: 5px;
  padding: 3rem 1.5rem;
  background-color: var(--cyan-30);
  border: 1px solid cyan;
  transition: all 0.5s;
  color: var(--dark-80);
}
.today-amount:hover {
  background-color: var(--primary-30);
  border: 1px solid var(--primary-100);
}

/* payment field */

.payment-field {
  display: block;
  border: none;
  border-bottom: 1px solid #dadada;
  padding: 2rem;
  text-align: center;
  width: 100%;
  margin: 2rem 0;
}
.btn_center {
  text-align: center;
  margin: 0 auto;
}

/* donation plan */
.plan-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.plan-box {
  padding: 3.5rem 1.6rem;
  border-radius: 5px;
}
.plan-img {
  width: 4rem;
  height: 4rem;
}
.plan-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--dark-90);
  margin: 1rem 0;
}

.plan-description {
  color: #707070;
}

.bg__cyan-30 {
  background-color: var(--cyan-30);
}
.bg__primary-30 {
  background-color: var(--primary-30);
}
.bg__primary-20 {
  background-color: var(--primary-20);
}

/* demand */

.demand-container {
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 4rem;
}
.demand-container__rev {
  flex-flow: row-reverse wrap;
}
.demand-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: var(--dark-90);
}

.demand-text {
  width: 48%;
}
.demand-img {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
}

.dmd-img {
  width: 100%;
}
.demand-description {
  text-align: left;
  margin: 1.5rem 0;
  width: 100%;
  color: var(--dark-70);
}

/* newsletter */

.newsletter-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  background-color: var(--primary-30);
  border-radius: 10px;
  padding: 5rem 6rem;
}

.newsinput {
  display: inline-block;
  width: 70%;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 10px 0 0 10px;
}

.newsinput:focus {
  outline: none;
}

.news-sub {
  border-radius: 0 10px 10px 0;
  width: 30%;
}

/* footer */

footer {
  padding: 4rem;
  text-align: center;
  background-color: var(--dark-100);
}

.footer-title {
  font-size: 36px;
  line-height: 44px;
  color: var(--primary-100);
  margin-bottom: 2rem;
  font-family: 'Lobster', cursive;
}

.footer-subtitle{
  color: var(--white-30);

}